@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@900&display=swap');

a {
  font-family: 'Big Shoulders Stencil Text';
  color: yellow;
  text-decoration: none;
}

header {
  #border: 1px dashed #fff;
  border-bottom: none;
}

h1 {
  color: yellow;
}

body {
  color: white;
  background: rgba(0, 0, 0, .8);
}

article {
  max-width: 33%;
  display: inline-block;
}

article img {
  width: 100%;
  height: 100%;
}