body {
  margin: 0;
  padding: 0;
  background: grey;
}

.header-area h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
  font-size: 4.5 em;
  text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.header-area h2 span{
  color: chartreuse;
}
